<a href="https://colab.research.google.com/github/katiesunsg/comparing-baltimore-nyc-teenagebirthrate/blob/master/baltimore_nyc_teenagebirthrate_income_katiesun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparing Baltimore and New York City Teenage Birth Rates by Race
* How does teenage birth rates differ within the two cities by income level when stratifying for all income, high income, middle income, and low income?
* Do we see similar trends for teenage birth rates between the two cities?

In [1]:
# pip install plotly

In [2]:
# for data analysis
import pandas as pd
import numpy as np

# for viz
import plotly.express as px

In [30]:
# import data

# baltimore teenage birth rates by income levels
df_balti_teenagebirths = pd.read_csv("https://raw.githubusercontent.com/katiesunsg/comparing-baltimore-nyc-teenagebirthrate/master/Balti-Raw-TeenageBirthRate-Income_AllHighMiddleLow.csv")

# nyc teenage birth rates by income levels 
df_nyc_teenagebirths = pd.read_csv("https://raw.githubusercontent.com/katiesunsg/comparing-baltimore-nyc-teenagebirthrate/master/NYC-Raw-TeenageBirthRate-Income_AllHighMiddleLow.csv")

In [31]:
# preview balti data
df_balti_teenagebirths.head()

         tract  ... Income
0  24510280500  ...    All
1  24510250204  ...    All
2  24510120400  ...    All
3  24510200100  ...    All
4  24510170200  ...    All

[5 rows x 6 columns]

In [32]:
# preview nyc data
df_nyc_teenagebirths.head()

         tract Neighborhood  ... Teenage_Birth_Rate_women_only_rP_gF_pall Income
0  36061020600  East Harlem  ...                                   0.4863    All
1  36061025900       Harlem  ...                                   0.4440    All
2  36061023502       Harlem  ...                                   0.4146    All
3  36061022800       Harlem  ...                                   0.4125    All
4  36061023200       Harlem  ...                                   0.3984    All

[5 rows x 6 columns]

In [34]:
# preview nyc data end
df_nyc_teenagebirths.tail()

            tract  ... Income
1143  36061010200  ...    Low
1144  36061031900  ...    Low
1145  36061010100  ...    Low
1146  36061011202  ...    Low
1147  36061031100  ...    Low

[5 rows x 6 columns]

# Filtering Data for Neighborhoods

In [9]:
# look at balti neighborhood names
df_balti_teenagebirths["Neighborhood"].unique()

array(['Pleasant View Gardens', 'Cherry Hill', 'Barclay', 'Lexington',
       'McCulloh Homes', 'Broadway East', 'Shipley Hill', 'Oliver',
       'Langston Hughes', 'Upton', 'Butchers Hill',
       'Coldstream - Homestead - Montebello', 'Perkins Homes',
       'Sandtown-Winchester', 'Mosher', 'Gay Street',
       'Bentalou-Smallwood', 'Better Waverly', 'Darley Park',
       'Belair - Edison', 'Madison - Eastend', 'Penn North',
       'East Baltimore Midway', 'Harlem Park', 'Greenmount West',
       'Milton - Montford', 'Berea', 'Midtown Edmondson',
       'Johnson Square', 'Burleith-Leighton', 'Franklin Square',
       'Harwood', 'Central Park Heights', 'Westport', 'Cedonia',
       'Frankford', 'NW Community Action', 'Druid Heights', 'Old Goucher',
       'Patterson Park', "O'Donnell Heights", 'Arlington', 'Mondawmin',
       'Edgecomb', 'Reservoir Hill', 'Garwyn Oaks', 'Pigtown',
       'Coppin Heights', "Saint Joseph's", 'Downtown', 'Irvington',
       'Winston - Govans', 'Edmondson',
       'Harford - Echodale - Perring Parkway', 'Allendale',
       'Little Italy', 'Woodbrook', 'Claremont - Freedom', 'Gwynn Oak',
       'Mount Clare', 'Park Circle', 'Poppleton', 'Brooklyn', 'Walbrook',
       'Ednor Gardens - Lakeside', 'Bridgeview-Greenlawn', 'Mill Hill',
       'Dorchester', 'New Northwood', 'Hanlon Longwood', 'Parkside',
       'Hollins Market', 'Rosemont', 'Remington', 'Beechfield',
       'Baltimore Highlands', 'Pratt Monroe', 'Cross Keys',
       'Windsor Hills', 'Yale Heights', 'Rognel Heights', 'Ramblewood',
       'Reisterstown Station', 'Mid-Govans', 'Loch Raven', 'Lakeland',
       'East Arlington', 'Perring Loch', 'Curtis Bay', 'Morrell Park',
       'Hillen', 'Hampden', 'Cedmont', 'Glen', 'Upper Fells Point',
       'South Baltimore', 'Bolton Hill', 'Woodberry', 'West Forest Park',
       'Idlewood', 'Canton', 'Glenham-Belford', 'Waltherson',
       'Medford - Broening', 'Armistead Gardens', 'Westgate',
       'Lauraville', 'Locust Point', 'Arcadia', 'Lake Walker',
       'Riverside Park', 'Cold Springs', 'Fifteenth Street', 'Riverside',
       'Fallstaff', 'Joseph Lee', 'Violetville', 'North Harford Road',
       'Medfield', 'Woodring', 'Fells Point', 'Radnor - Winston',
       'Mid-Charles', 'Cross Country', 'Cheswolde', 'Homeland',
       'Evergreen', 'Tuscany - Canterbury', 'Roland Park',
       'Mount Washington', 'Penn - Fallsway'], dtype=object)

In [10]:
# number of balti neighborhoods
df_balti_teenagebirths["Neighborhood"].nunique()

131

In [11]:
# nyc neighborhood names
df_nyc_teenagebirths["Neighborhood"].unique()

array(['East Harlem', 'Harlem', 'Alphabet City', 'Upper Manhattan',
       'Lower Manhattan', 'Inwood', 'Fort George', 'Upper West Side',
       'West Bronx', 'Midtown', 'Lincoln Square', "Hell's Kitchen",
       'Hudson Heights', 'Bowery', 'Upper East Side', 'East Village',
       'Bloomingdale', 'Roosevelt Island', 'Gramercy Park', 'Lenox Hill',
       'Lower East Side', 'Kips Bay', 'Chinatown', 'Midtown East',
       'Yorkville', 'Randalls Island', 'Central Park', 'Governors Island',
       'Garment District'], dtype=object)

In [12]:
# number of nyc neighborhoods
df_nyc_teenagebirths["Neighborhood"].nunique()

29

In [7]:
# look at all of the column names
df_balti_teenagebirths.columns

Index(['tract', 'Neighborhood', 'City', 'State',
       'Teenage_Birth_Rate_women_only_rP_gF_pall', 'Income'],
      dtype='object')

In [13]:
df_balti_teenagebirths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   tract                                     772 non-null    int64
 1   Neighborhood                              772 non-null    object
 2   City                                      772 non-null    object
 3   State                                     772 non-null    object
 4   Teenage_Birth_Rate_women_only_rP_gF_pall  765 non-null    float64
 5   Income                                    772 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 36.3+ KB

In [14]:
df_balti_teenagebirths.describe()

              tract  Teenage_Birth_Rate_women_only_rP_gF_pall
count  7.720000e+02                                765.000000
mean   2.449449e+10                                  0.362926
std    8.771303e+07                                  0.148345
min    2.400375e+10                                  0.009800
25%    2.451012e+10                                  0.254200
50%    2.451019e+10                                  0.375300
75%    2.451026e+10                                  0.482300
max    2.451028e+10                                  0.659600

In [77]:
# rename columns teenage birth rates for balti
df_balti_teenagebirths = df_balti_teenagebirths.rename(columns={"Teenage_Birth_Rate_women_only_rP_gF_pall":"Teenage Birth Rate"})

# preview new column names
df_balti_teenagebirths.head()

         tract           Neighborhood  ... Teenage Birth Rate Income
0  24510280500  Pleasant View Gardens  ...             0.6596    All
1  24510250204            Cherry Hill  ...             0.6561    All
2  24510120400                Barclay  ...             0.6273    All
3  24510200100              Lexington  ...             0.6078    All
4  24510170200         McCulloh Homes  ...             0.6074    All

[5 rows x 6 columns]

In [79]:
# rename columns teenage births for nyc
df_nyc_teenagebirths = df_nyc_teenagebirths.rename(columns={"Teenage_Birth_Rate_women_only_rP_gF_pall":"Teenage Birth Rate"})

# preview new column names
df_nyc_teenagebirths.head()

         tract Neighborhood       City State  Teenage Birth Rate Income
0  36061020600  East Harlem   New York    NY              0.4863    All
1  36061025900       Harlem   New York    NY              0.4440    All
2  36061023502       Harlem   New York    NY              0.4146    All
3  36061022800       Harlem   New York    NY              0.4125    All
4  36061023200       Harlem   New York    NY              0.3984    All

# Removing Null Values for Teenage Birth Rates

In [87]:
# check for number of null values in balti df
df_balti_teenagebirths.isnull().sum()

tract                 0
Neighborhood          0
City                  0
State                 0
Teenage Birth Rate    7
Income                0
dtype: int64

In [88]:
# check for number of null values in nyc df
df_nyc_teenagebirths.isnull().sum()

tract                  0
Neighborhood           0
City                   0
State                  0
Teenage Birth Rate    61
Income                 0
dtype: int64

In [89]:
# remove null values for balti 
modified_df_balti_teenagebirths = df_balti_teenagebirths.dropna()

In [90]:
# check balti null values were removed
modified_df_balti_teenagebirths.isnull().sum()

tract                 0
Neighborhood          0
City                  0
State                 0
Teenage Birth Rate    0
Income                0
dtype: int64

In [91]:
# remove null values for nyc
modified_df_nyc_teenagebirths = df_nyc_teenagebirths.dropna()

In [92]:
# check nyc null values were removed
modified_df_nyc_teenagebirths.isnull().sum()

tract                 0
Neighborhood          0
City                  0
State                 0
Teenage Birth Rate    0
Income                0
dtype: int64

# Pivot Tables with Teenage Birth Rates per Neighborhood by Income Level

In [93]:
# pivot table for balti teenage birth rates by income level 
pvmodified_df_balti_teenagebirths = pd.pivot_table(modified_df_balti_teenagebirths,
                    index = "Neighborhood",
                    columns = "Income",
                    values = "Teenage Birth Rate",
                    aggfunc = np.mean).reset_index()

In [97]:
# preview balti pivot table
pvmodified_df_balti_teenagebirths.head(15)

Income          Neighborhood      All      High       Low   Middle
0                  Allendale  0.47370  0.452600  0.477700  0.46330
1                    Arcadia  0.25500  0.082300  0.452500  0.24040
2                  Arlington  0.50460  0.302400  0.532000  0.40040
3          Armistead Gardens  0.28840  0.175600  0.327300  0.24030
4        Baltimore Highlands  0.38715  0.125400  0.443350  0.26115
5                    Barclay  0.62730  0.386500  0.616700  0.48480
6                 Beechfield  0.41420  0.190200  0.526000  0.33360
7            Belair - Edison  0.44495  0.289725  0.516375  0.38650
8         Bentalou-Smallwood  0.55980  0.306300  0.557000  0.41340
9                      Berea  0.54010  0.382050  0.574400  0.46415
10            Better Waverly  0.52800  0.224750  0.559600  0.36770
11               Bolton Hill  0.30920  0.121700  0.527400  0.29490
12      Bridgeview-Greenlawn  0.45340  0.316900  0.476800  0.38520
13             Broadway East  0.57378  0.497420  0.579460  0.53246
14                  Brooklyn  0.34245  0.201300  0.397725  0.33330

In [95]:
# pivot table for nyc teenage birth rates by income level
pvmodified_df_nyc_teenagebirths = pd.pivot_table(modified_df_nyc_teenagebirths,
                    index = "Neighborhood",
                    columns = "Income",
                    values = "Teenage Birth Rate",
                    aggfunc = np.mean).reset_index()

In [98]:
# preview nyc pivot table
pvmodified_df_nyc_teenagebirths.head(15)

Income    Neighborhood       All      High       Low    Middle
0        Alphabet City  0.208033  0.221050  0.206083  0.214650
1         Bloomingdale  0.101450  0.070850  0.159900  0.108850
2               Bowery  0.115800  0.091150  0.108100  0.098400
3            Chinatown  0.016667  0.009767  0.028633  0.013367
4          East Harlem  0.314089  0.220367  0.339106  0.271061
5         East Village  0.125000  0.090200  0.127700  0.106200
6          Fort George  0.209675  0.121713  0.228250  0.167188
7        Gramercy Park  0.041133  0.041000  0.073467  0.054867
8               Harlem  0.330193  0.215153  0.344340  0.270313
9       Hell's Kitchen  0.144429  0.090500  0.190586  0.124900
10      Hudson Heights  0.176200  0.115800  0.181500  0.143800
11              Inwood  0.206360  0.141840  0.229120  0.179100
12            Kips Bay  0.032900  0.024875  0.067175  0.041500
13          Lenox Hill  0.023783  0.020542  0.049133  0.031583
14      Lincoln Square  0.066514  0.057957  0.086071  0.067114

In [124]:
# sort balti by all income
pvmodified_df_balti_teenagebirths = pvmodified_df_balti_teenagebirths.sort_values("All")

In [121]:
# preview data
pvmodified_df_balti_teenagebirths.head(10)

Income          Neighborhood      All  ...   Middle  avg_teenage_birth_rate_all
84          Mount Washington  0.00980  ...  0.04690                     0.00980
109              Roland Park  0.01080  ...  0.04230                     0.01080
115     Tuscany - Canterbury  0.01660  ...  0.05870                     0.01660
39                 Evergreen  0.01790  ...  0.08400                     0.01790
58                  Homeland  0.02510  ...  0.09630                     0.02510
22                 Cheswolde  0.04370  ...  0.07690                     0.04370
27             Cross Country  0.05850  ...  0.08040                     0.05850
75               Mid-Charles  0.09330  ...  0.36910                     0.09330
101         Radnor - Winston  0.14570  ...  0.15780                     0.14570
87        North Harford Road  0.14645  ...  0.15515                     0.14645

[10 rows x 6 columns]

In [136]:
# sort nyc by all income
pvmodified_df_nyc_teenagebirths = pvmodified_df_nyc_teenagebirths.sort_values("All")

# preview data
pvmodified_df_nyc_teenagebirths.head(10)

Income     Neighborhood       All      High       Low    Middle
3             Chinatown  0.016667  0.009767  0.028633  0.013367
24            Yorkville  0.022000  0.026300  0.058100  0.039900
13           Lenox Hill  0.023783  0.020542  0.049133  0.031583
18         Midtown East  0.024700  0.016500  0.025900  0.020500
20      Upper East Side  0.032378  0.032739  0.081606  0.052889
12             Kips Bay  0.032900  0.024875  0.067175  0.041500
7         Gramercy Park  0.041133  0.041000  0.073467  0.054867
15      Lower East Side  0.062100  0.083500  0.086950  0.084950
17              Midtown  0.062540  0.040019  0.111703  0.066998
14       Lincoln Square  0.066514  0.057957  0.086071  0.067114

# Create Baltimore Data Visualization

In [146]:
# bar graph for teenage birth rates in baltimore all income 
bar_baltiallteenagebirthrate = px.bar(pvmodified_df_balti_teenagebirths,x= "Neighborhood", y = "All", title = "Teenage Birth Rates in Baltimore City by All Income")

In [147]:
# data visualization 
bar_baltiallteenagebirthrate

In [148]:
# bar graph for teenage birth rates in nyc all income 
bar_nycallteenagebirthrate = px.bar(pvmodified_df_nyc_teenagebirths,x= "Neighborhood", y = "All", title = "Teenage Birth Rates in New York City by All Income")

In [149]:
# data visualization 
bar_nycallteenagebirthrate

In [151]:
# bar graph for teenage birth rates in baltimore low income 
bar_baltilowteenagebirthrate = px.bar(pvmodified_df_balti_teenagebirths,x= "Neighborhood", y = "Low", title = "Teenage Birth Rates in Baltimore City by Low Income")

In [152]:
# data visualization 
bar_baltilowteenagebirthrate

In [153]:
# bar graph for teenage birth rates in nyc low income 
bar_nyclowteenagebirthrate = px.bar(pvmodified_df_nyc_teenagebirths,x= "Neighborhood", y = "Low", title = "Teenage Birth Rates in New York City by Low Income")

In [154]:
# data visualization 
bar_nyclowteenagebirthrate

# Pivot Tables by City

In [156]:
# pivot table for overall nyc teenage birth rates by income level
citypvmodified_df_nyc_teenagebirths = pd.pivot_table(modified_df_nyc_teenagebirths,
                    index = "City",
                    columns = "Income",
                    values = "Teenage Birth Rate",
                    aggfunc = np.mean).reset_index()

In [158]:
# nyc overall table
citypvmodified_df_nyc_teenagebirths.head()

Income       City       All      High       Low    Middle
0        New York  0.147025  0.105773  0.183685  0.137729

In [159]:
# pivot table for overall balti teenage birth rates by income level
citypvmodified_df_balti_teenagebirths = pd.pivot_table(modified_df_balti_teenagebirths,
                    index = "City",
                    columns = "Income",
                    values = "Teenage Birth Rate",
                    aggfunc = np.mean).reset_index()

In [160]:
# balti overall table
citypvmodified_df_balti_teenagebirths.head()

Income        City       All      High       Low    Middle
0        Baltimore  0.397786  0.259241  0.451793  0.342266

# Merge Condensed Datasets to Create Bar Graph

In [168]:
#using base function merge
df_combinedcities = pd.concat([citypvmodified_df_balti_teenagebirths,citypvmodified_df_nyc_teenagebirths],axis=0)

In [169]:
# viewing combined dataset for overall cities
df_combinedcities.head()

Income        City       All      High       Low    Middle
0        Baltimore  0.397786  0.259241  0.451793  0.342266
0         New York  0.147025  0.105773  0.183685  0.137729

In [180]:
# bar graph for overall teenage birth rates in balti and nyc all income
bar_combinedcities = px.bar(df_combinedcities,x= "City", y = ("All"), title = "Teenage Birth Rates in Baltimore City vs. New York City for All Income")

In [179]:
# view bar graph for two cities
bar_combinedcities

In [183]:
# bar graph for overall teenage birth rates in balti and nyc low income
bar_lowcombinedcities = px.bar(df_combinedcities,x= "City", y = ("Low"), title = "Teenage Birth Rates in Baltimore City vs. New York City for Low Income")

In [184]:
# view bar graph for two cities
bar_lowcombinedcities